<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">ido</property>
        <property name="hibernate.connection.password">9442344Ido!</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.34:3306/whos_home_app</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">false</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <mapping class="whosHome.common.models.SensorTypeMetadata"></mapping>
        <mapping class="whosHome.common.models.SensorConnectionMetadata"></mapping>
        <mapping class="whosHome.whosHomeApp.models.Device"></mapping>

    </session-factory>
</hibernate-configuration>