body {
    font-family: calibri;
    background: #eee;
}

#display-people {
    word-wrap: break-word;
    overflow-x: hidden;
}

.no-margin {
    margin:0
}

#add-person-form md-input-container {
    margin:0
}

.md-fab.md-mini md-icon {
    font-size: 22px!important;
}