<html ng-app="WhosHome">
    <head>
        <title>Who's Home?</title>

        <!-- Libs -->
        <script src="./libs/angular/angular.js"></script>
        <script src="./libs/angular/angular-animate.js"></script>
        <script src="./libs/angular/angular-aria.min.js"></script>
        <script src="./libs/angular/angular-route.min.js"></script>
        <script src="./libs/angular/angular-messages.js"></script>
        <script src="./libs/angular/angular-sanitize.js"></script>
        <script src="./libs/jquery/jquery-3.2.1.min.js"></script>
        <script src="./libs/angular-material/angular-material.js"></script>

        <link rel="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./libs/angular-material/angular-material.css">

        <!-- Javascripts -->
        <script src="./javascripts/app.js"></script>
        <script src="./javascripts/services/services.js"></script>
        <script src="./javascripts/services/presentEntities.srv.js"></script>
        
        <script src="./javascripts/directives/directives.js"></script>
        <script src="./javascripts/directives/user-card/user-card.js"></script>
        
        <script src="./javascripts/main-menu.ctrl.js"></script>
        <script src="./views/home/home.ctrl.js"></script>
        <script src="./views/history/history.ctrl.js"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="./stylesheets/main.css">
        <link rel="stylesheet" href="./stylesheets/main-menu.css">
    </head>

    <body>
        <div layout="column">
            <!-- Body content -->
            <div ng-view flex="80" id="body-content"></div>

            <!-- Main Menu -->
            <div ng-controller="mainMenuCtrl" id="main-menu"
                flex="20" layout="row" layout-align="center stretch" 
                md-colors="{'border-color': 'accent-400'}">
                <div ng-repeat="menuItem in mainMenuItems" flex="grow" class="menu-item" layout="column" ng-click="navigate(menuItem)"
                    md-colors="currentPath == menuItem.href ? {'background': 'accent-400'} : {'background': 'primary'}">
                    <div class="item-icon">
                        <i class="fa fa-{{menuItem.icon}}"></i>
                    </div>
                    {{menuItem.description}}
                </div>
            </div>
        </div>
    </body>
</html>