<!-- Search bar -->
<md-whiteframe class="md-whiteframe-2dp" flex="10"  md-theme="darkdocs" md-colors="{'background': 'background-900'}">
    <md-input-container md-no-float class="md-block" style="margin:4px;">
        <md-icon style="font-size:20px">&#xf002</md-icon>
        <input type="text" placeholder="Search a person..." ng-model="$parent.searchText" ng-keyup="searchInputKeyUp()" ng-keydown="searchInputKeyDown($event)">
    </md-input-container>
</md-whiteframe>
<div flex="90" layout-padding>
    <!-- Buttons menu -->
    <md-button class="md-fab md-mini md-fab-top-right md-hue-3" ng-click="getPeople()"><md-icon>&#xf021</md-icon></md-button>
    
    <!-- Display a card for each person -->
    <md-grid-list md-cols="3" md-row-height="1:1" ng-click="" >
        <md-grid-tile
            ng-repeat="person in people"
            ng-click="showPersonDialog(person)"
            md-rowspan="1" md-colspan="1"
            style="cursor:pointer"
            class="md-whiteframe-3dp">
                <img src="./images/unknown.png" style="height:100%; width:100%; object-fit:contain">
                <md-grid-tile-footer md-colors="{background: 'grey-800', color: 'grey-50'}" style="opacity:0.77">
                    <h3><strong>{{person.firstname + ' ' + person.lastname}}</strong></h3>
                </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>