<link href="./stylesheets/dropzone.css" rel="stylesheet">

<md-dialog ng-init="init()" flex="70">
    <md-dialog-content>
        <div class="md-dialog-content">
            <!-- Step 1 -->
            <div ng-show="step == '1'">
                <div id="dropzone" class="dropzone"></div>
            </div>

            <!-- Step 2 -->
            <div ng-if="step == '2'">
                <div style="position: relative;">
                    <people-picture img-src='fileURL' faces='picture.faces'></people-picture>
                    
                    <md-autocomplete
                        ng-show="selectedFace != null"
                        md-selected-item="selectedPerson"
                        md-search-text="searchText"
                        md-item-text="item.firstname"
                        md-items="item in searchPeople(searchText)"
                        md-selected-item-change="selectPerson(selectedPerson)"
                        placeholder="Start typing a person name...">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.firstname + ' ' + item.lastname}}</span>
                        </md-item-template>
                        <md-not-found>
                            No results found...
                        </md-not-found>
                    </md-autocomplete>    
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>